html {
  width: 100%;
  height: 900px;
  min-height: 400px;

  /*background-color: black;*/
}
body {
  width: 90%;
  height: 100%;
  margin: 0 0 0 5%;
  background-image: url(body-background.gif);
  background-size: 100% 120%;
  background-repeat: no-repeat;
}
nav {

  position: absolute;
  top: 9.98%;
  left: 12.63%;
/* border:  solid 2px; */
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
  list-style-type: none;
}
.logo {
  position: absolute;
  top: 20.91%;
  left: 15.16%;
  /*border: solid 2px;*/
  height: 23.26%;
  width: 37.90%;
  background-image: url(logo.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.main-first {
  display: inline-block;
  width: 80%;
  height: 25.54%;
  position: absolute;
  top: 51.15%;
  left: 13.58%;
  background-color: rgba(177,222,55,0.9);
  border-radius: 50px;
  z-index: 10;
}
.main-second {
  width: 80%;
  height: 380px;
  position: absolute;
  top: 70.33%;
  left: 13.58%;
  background-color: rgba(84,177,210,0.9);
  border-radius: 50px;
  z-index: 2;
}
.main-first h3 {
  margin-top: 5%;
  font-family: "Comic Sans MS";
  text-transform: uppercase;
  color: white;
  /*float: right;*/
  margin-left: 40%;
}
.main-first span {
  display: block;
  margin-top: 1.28%;
  width: 50%;
  margin-left: 40%;
}
.first-left {
  display: inline-block;
  width: 49.6875%;
  height: 100%;
  margin: 0px;
  /*background-color: red;*/
  overflow: hidden;
}
.first-right {
  display: inline-block;
  width: 49.6875%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  /*background-color: orange;*/
}
.first-img-left {
  display: inline-block;
  width: 23.85%;
  height: 75%;
  margin-left: 10%;
  margin-top: 5%;
  background-image: url(first-main-left.gif);
  float: left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.first-img-right {
  display: inline-block;
  width: 23.85%;
  height: 75%;
  margin-left: 10%;
  margin-top: 5%;
  background-image: url(first-main-right.gif);
  float: left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
main a {
  margin-left: 6.36%;
  color: white;
  font-family: "Comic Sans MS";
  text-transform: uppercase;
  text-decoration: none;
}
main p {
  /*margin-top: 2.84%;*/

}
